.footer {
    background-color: #1f1f1f;

    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 3rem 1rem;
        @media only screen and (max-width: 27em) {
            justify-content: center;
        }
        &__copyright {
            font-size: 2rem;
            color: #555555;
            
            @media only screen and (max-width: $bp-medium) {
                
            }
            @media only screen and (max-width: $bp-smallest) {
                
            }
        }
        .socials {
            &__list {
                display: flex;
                align-content: flex-end;
            }
            &__item {
                display: flex;
                align-items: end;
                margin-right: 2rem;
                cursor: pointer;
                color: #fff;
                font-size: 1.5rem;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    color: $color-purple;
                }
            }
        }
    }
}