.service-section {
/*     background-image: url('../img/bg-2.jpg');
    background-repeat: no-repeat;
    background-position: right; */
    height: 75vh;
    display: flex;
    align-items: center;
    position: relative;
    @media only screen and (max-width: $bp-medium) {
        height: 45vh;
    }
    &__bg {
        position: absolute;
        right: 0;
        max-height: 100%;
        z-index: -1;
        @media only screen and (max-width: $bp-largest) {
            right: -20rem;
        }
        @media only screen and (max-width: $bp-large) {
            opacity: 0.5;
        }
        @media only screen and (max-width: $bp-medium) {
            right: 0;
            opacity: 0.3;
        }
    }
    .content {
        @include twelvecol;
        grid-gap: 3rem;
        justify-items: start;
        @media only screen and (max-width: $bp-medium) {
            justify-items: center;
        }
        &__title {
            grid-column: 1 / -1;
            grid-row: 1;
            font-size: 4.5rem;
            font-weight: 300;
            color: $color-purple;
            @media only screen and (max-width: $bp-smallest) {
                text-align: center;
            }
        }
        &__text {
            grid-column: 1 / span 5;
            grid-row: 2;
            font-size: 1.5rem;
            color: $color-grey-dark;
            line-height: 1.5;
        }
        .service__btn {
            grid-column: 1 / span 5;
            grid-row: 3;   
            font-size: 1.5rem;
            background-color: $color-purple-dark;
            color: $color-white;
            padding: 0.8rem 1.5rem;
            border: none;
        }
        &__text,
        .service__btn {
            @media only screen and (max-width: $bp-medium) {
                grid-column: 1 / -1;
                text-align: center;
            }
        }
        
    }
    
}